ion-avatar {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

ion-toolbar {
  --background:  url('/assets/kawa.png') no-repeat 0 0 / cover;
}

ion-card{
margin: 20px !important;
background-color: white;
border-radius: 25px;
}

ion-item::part(native) {
background: white !important;
}


ion-content {
--ion-background-color: #F2F2F3 !important;
}

ion-title.title-large {
font-size: 25px;
}


ion-toolbar {
--background: var(--ion-color-tertiary);
--color: white;
--padding-top: 10px;
--padding-bottom: 10px;
--border-style: ;
border-radius: 0 0 25px 25px;
box-shadow: none !important;
}



