<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo Personal Autorizado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fomrPersonal" (ngSubmit)="submitForm()">

    <ion-grid fixed>
      <ion-row>
        <ion-col offset="4" size="4">
          <ion-thumbnail>
            <ion-img id="imgProfMod" [src]="picture" alt="Picture"></ion-img>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none" #itemPicture>
      <input  formControlName="fotoPerfil"  id="files" class="input-files"
        (click)="changeProfile( $event )" accept="image/png, image/jpg, image/jpeg" />
      <label for="files" class="label-files noSelect">
        Foto de perfil
      </label>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>
      <span *ngIf="validaControl('nombre')" slot="error"> El nombre es obligatorio</span>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="direccion" placeholder="Dirección"></ion-input>
      <span *ngIf="validaControl('direccion')" slot="error"> La direccion es obligatoria</span>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="colonia" placeholder="Colonia"></ion-input>
      <span *ngIf="validaControl('colonia')" slot="error"> La colonia es obligatoria</span>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="parentesco" placeholder="Parentesco"></ion-input>
      <span *ngIf="validaControl('parentesco')" slot="error"> El parentesco es obligatorio</span>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
      <span *ngIf="validaControl('email')" slot="error"> El email es obligatorio</span>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="telefono" placeholder="Teléfono"></ion-input>
      <span *ngIf="validaControl('telefono')" slot="error"> El telefono es obligatorio</span>
    </ion-item>
    <ion-item>
      <ion-input type="number" formControlName="telefonoCelular" placeholder="Teléfono Celular"></ion-input>
      <span *ngIf="validaControl('telefonoCelular')" slot="error"> El telefono celular es obligatorio</span>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col class="ion-text-center" offset="3" size="6">
          <ion-button color="success" type="submit"expand="block" color="success" shape="round" [disabled]="!fomrPersonal.valid">
            {{ !user ? 'Agregar Persona' : 'Guardar Persona'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
