<ion-tabs class="custom-tabs">

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button  tab="tab1" *ngIf="user === 'TUTOR' ">
      <ion-icon name="school"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button> -->

    <ion-tab-button  tab="tab2">
      <ion-icon name="school"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="tab3" *ngIf="user === 'TUTOR'" >
      <ion-icon name="people"></ion-icon>
      <ion-label>Autorizados</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="comunicados">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Comunicados</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
