
<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col offset="2" size="8"class="ion-padding">
        <ion-img  src="../assets/logokawabata.png"></ion-img>
      </ion-col>
    </ion-row>
   <form  [formGroup]="formLogin" >
    <ion-row class="ion-text-start">
      <ion-col size="12">
        <ion-text>
          <h1 class="theme-title">INICIAR SESIÓN</h1>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-label>Ingresa el usuario y contraseña</ion-label>
      </ion-col>
    </ion-row>
    <ion-card  >

    <ion-row class="ion-margin-top">

      <ion-col size="12">
        <ion-item>
          <ion-label  position="floating">UserWeb</ion-label>
          <br>
          <ion-input class="custom" type="text" formControlName="userWeb"></ion-input>
          <ion-icon name="person" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12" >
        <ion-item >
          <ion-label position="floating">Contraseña</ion-label>
          <br>
          <ion-input class="custom" type="{{ mostrarPassword ? 'text' : 'password' }}" formControlName="password">
          </ion-input>
          <ion-button size="large" color="dark" fill="clear" slot="end" *ngIf="!mostrarPassword" (click)="mostrarPassword = true">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <ion-button size="large" color="dark" fill="clear" slot="end" *ngIf="mostrarPassword" (click)="mostrarPassword = false">
            <ion-icon name="eye-off"></ion-icon>
          </ion-button>
          <ion-icon name="lock-closed" slot="start"></ion-icon>
        </ion-item>
      </ion-col>

    </ion-row>

    </ion-card>

    <ion-row>
      <ion-col size="4" offset="4" class="ion-no-padding">
        <ion-button (click)="submit()" color="danger" expand="block" shape="round">
          Iniciar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>



  </ion-grid>

</ion-content>

