img {
  height: -webkit-fill-available !important;
  border-radius: 15px;
 }
 ion-card{
  background-color: white;
  margin: 20px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  border-radius: 25px;
  border: transparent;
}
ion-content {
  --ion-background-color: #F2F2F3 !important;
}

.slide-img{
  max-height: 20% !important;
  height: 140px !important;
}

ion-title.title-large {
  font-size: 25px;
}

.noscroll{
  overflow-y: auto;
}

.configuration {
  min-height: 180px !important;
}


ion-toolbar {
  --background: var(--ion-color-tertiary);;
  --color: white;
  --padding-top: 10px;
  --padding-bottom: 10px;
  border-radius: 0 0 25px 25px;
}
