img {
  height: -webkit-fill-available !important;
  border-radius: 15px;
 }
 ion-card{
  margin: 20px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  border-radius: 25px;
}
ion-content {
  --ion-background-color: #F2F2F3 !important;
}
