<ion-toolbar class="safe--area ion-text-center">
  <ion-title>
    Comunicados
  </ion-title>
</ion-toolbar>

<ion-content>

  <swiper-container  #swiper
    [autoplay]="{delay: 3000}"
     [slidesPerView]="1.5"   >
    <swiper-slide  class="ion-padding " *ngFor="let sl of sliders">
        <img width="100%"  class="slide-img configuration" [src]="getImage(sl.image)">
    </swiper-slide>
  </swiper-container>



    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <h5 style="font-weight: bold;">Todos los comunicados:</h5>
        </ion-col>
      </ion-row>
      <ion-segment class="noscroll" scrollable="true" value="pizza" >
        <ion-col >
          <ion-button (click)="filtrarEstudiantes('')"  [fill]="getFill('')"  color="tertiary" shape="round">
            <ion-label style="font-weight: bold;">Todos</ion-label>
          </ion-button>
        </ion-col>
        <ion-col >
          <ion-button (click)="filtrarEstudiantes('Eventos')"   [fill]="getFill('Eventos')"   color="tertiary" shape="round">
            <ion-label style="font-weight: bold;">Eventos</ion-label>
          </ion-button>
        </ion-col>
        <ion-col >
          <ion-button (click)="filtrarEstudiantes('Calendarios')" [fill]="getFill('Calendarios')"   color="tertiary" shape="round">
            <ion-label style="font-weight: bold;">Calendarios</ion-label>
          </ion-button>
        </ion-col>
        <ion-col >
          <ion-button (click)="filtrarEstudiantes('Avisos')" [fill]="getFill('Avisos')"   color="tertiary" shape="round">
            <ion-label style="font-weight: bold;">Avisos</ion-label>
          </ion-button>
        </ion-col>
        <ion-col >
          <ion-button (click)="filtrarEstudiantes('Encuestas')" [fill]="getFill('Encuestas')"   color="tertiary"  shape="round">
            <ion-label style="font-weight: bold;">Encuestas</ion-label>
          </ion-button>
        </ion-col>
      </ion-segment>

    </ion-grid>
    <ion-grid *ngIf="comunicados.length">
      <ion-row>
        <ion-col size="12" *ngFor="let com of  comunicadosFilter">
          <ion-card (click)="openModalComunicado(com)">
            <ion-grid style="max-height: 250px;">
              <ion-row>
                <ion-col  size="5">
                  <img [src]="getImage(com.image)  " class="img-fluid"  style="width: 100%; max-height: 230px !important;" alt="">
                </ion-col>
                <ion-col size="7">
                  <ion-card-content style="color: black" >
                    <h4>{{com.fechaPublicacion | date: 'mediumDate'   }}</h4>
                    <h2 style="font-weight: 900;" >{{com.title?.toUpperCase()}}</h2>
                    <div [innerHTML]="com?.body" ></div>
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="!comunicados.length">
      <ion-row class="ion-text-center">
        <ion-col size="12" class="ion-margin" >
          No hay comunicados...
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
