<ion-toolbar class="ion-text-center">
  <ion-title>
    Personas Autorizadas
  </ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-grid >
    <ion-row>
      <ion-col size-sm="4" size-xs="6" offset-xs="6" offset-sm="8">
        <ion-button (click)="newPersonal()" expand="block" color="success" shape="round">
          <ion-icon slot="start" name="add"></ion-icon>
          Agregar Nuevo
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card *ngFor="let auth of autorizados">
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none" >
        <ion-avatar slot="start">
          <ion-img id="imgProf" [src]="auth.fotoPerfil | noimage "  alt="Picture"></ion-img>
        </ion-avatar>
        <ion-label>
          Parentesco: {{auth.parentesco | uppercase}}
          <p>{{auth.nombre | uppercase}}</p>
        </ion-label>
      </ion-item>
    </ion-card-header>

      <ion-card-content >
        <ion-item lines="none">
          <ion-label>Acción:</ion-label>
          <ion-button (click)="deletePersonal(auth.id)" slot="end" fill="clear" >
            <ion-icon color ="tertiary" slot="icon-only" name="trash-outline" ></ion-icon>
          </ion-button>
          <ion-button  (click)="editarPersonal(auth)"  slot="end" fill="clear" >
            <ion-icon  color ="tertiary" slot="icon-only" name="create-outline" ></ion-icon>
          </ion-button>
          <ion-toggle [checked]="auth.active" (click)="activar(auth.id, !auth.active)" color="tertiary"  slot="end"></ion-toggle>
        </ion-item>

      </ion-card-content>




  </ion-card>
</ion-content>
