ion-icon {
    font-size: 64px;
  }

  ion-title.title-large {
    font-size: 25px;
  }


  ion-toolbar {
    --background: var(--ion-color-tertiary);;
    --color: white;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --border-style: ;
    border-radius: 0 0 25px 25px;
    box-shadow: none !important;
  }
